/*styling of the body */ 
body {
    background-color:black;
    font-family:arial;
    color:white;
}
/*styling of the title */ 
h1{
    color:grey;
    font-family:verdana;
}
/* styling of the div*/ 
.maindiv {
    background-color:white;
    font-family:arial;
    color:black;
    width : 300px;
    padding:20px;
    border-radius : 25px;
    align-items:center;

}
/*styling of the input elements*/
.maindiv input {
    margin-left:75px;
}